*.db
*.db-journal
*.db-wal
*.db-shm
*.pyc
*.pyo
__pycache__/
.cache/
.coverage
.tox/
build/
dist/
eggs/
*.egg-info/
.idea/
.vscode/
.DS_Store
.project
.pydevproject
.settings/
.spyderproject
.spyderworkspace
*.sublime-project
*.sublime-workspace
.ropeproject
venv/
.venv/
env/
.env
.ipynb_checkpoints
/immoscience
*.csv
immo_items.db
