[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
scikit-learn = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
tpot = "*"
yacron = "*"
python-telegram-bot = "*"
fastapi = "*"
gradio = "*"
requests = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"